body{
    display:flex;
    flex-direction:column;
    font-family: "Roboto"
}

header{
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto";
    background-color:#1F2937;
    height:30px;
    padding:20px
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}
a{
    text-decoration: none
}

.logo{
    color: #f9faf8;
    font-size: 24px;


}

.right-links{
    font-size: 18px;
   
}

.small{
     color: #E5E7EB;
     font-size: 18px;
}

.introduction{
    display:flex;
    padding: 96px;
    background-color: #1F2937;
    justify-content: space-between;
    align-items:center;
    gap: 20px;
    flex-wrap:wrap;

}

.awesome{
    display:flex;
    flex-direction: column;
    flex: 1
}

.intro-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center

}
.nike{
     width: 280px;
     height: 175px;
     


}

.signup{
    background-color:#3882F6;
    color: #f9faf8;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.information{
    display: flex;
    flex-direction:column;
    align-items: center;
  


}

.figures{
    display: flex;
    gap: 100px;
    margin-bottom:120px;
    font-size: 10px;
    margin-top: 20px;
     flex-wrap:wrap;
}

.figure{
    width: 200px;
    height: 200px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background-color:#E5E7EB;
    color: #1F2937;

}

.thequote{
    margin-right: 10px
}

.speaker{
    font-weight: bold
}

.footer{
    display:flex;
    background-color:#3882F6;
    background-clip: content-box;
    justify-content: space-around;
    align-items: center;
    margin: 48px;
    border-radius: 5px

}

.action{
    color: #F9FaF8;

}

.signup2{
    border-color: #F9FaF8;
    background-color: #3882F6;
    color: #F9FaF8;
    border-radius: 10px;
    width: 100px;
}

.call{
    font-weight: 900;
    font-size: 18px
}